<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bounds</key>
	<dict>
		<key>Areas</key>
		<array>
			<dict>
				<key>Connected</key>
				<array>
					<integer>-1</integer>
					<integer>1</integer>
					<integer>-1</integer>
					<integer>-1</integer>
				</array>
				<key>Points</key>
				<array>
					<integer>0</integer>
					<integer>1</integer>
					<integer>2</integer>
					<integer>3</integer>
				</array>
				<key>Sides</key>
				<integer>4</integer>
			</dict>
			<dict>
				<key>Connected</key>
				<array>
					<integer>-1</integer>
					<integer>2</integer>
					<integer>0</integer>
				</array>
				<key>Points</key>
				<array>
					<integer>1</integer>
					<integer>4</integer>
					<integer>2</integer>
				</array>
				<key>Sides</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>Connected</key>
				<array>
					<integer>-1</integer>
					<integer>-1</integer>
					<integer>-1</integer>
					<integer>1</integer>
				</array>
				<key>Points</key>
				<array>
					<integer>4</integer>
					<integer>5</integer>
					<integer>6</integer>
					<integer>2</integer>
				</array>
				<key>Sides</key>
				<integer>4</integer>
			</dict>
		</array>
		<key>Points</key>
		<array>
			<real>-6.626</real>
			<real>-10.827</real>
			<real>-6.626</real>
			<real>3.543</real>
			<real>-1.423</real>
			<real>1.872</real>
			<real>-1.423</real>
			<real>-10.827</real>
			<real>-1.877</real>
			<string>7.014</string>
			<string>10.865</string>
			<string>7.014</string>
			<string>10.865</string>
			<string>1.872</string>
		</array>
	</dict>
	<key>CourseName</key>
	<string>01</string>
	<key>HoleLoc</key>
	<array>
		<string>7.656</string>
		<string>4.305</string>
		<string>-16</string>
	</array>
	<key>Visuals</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Ball</string>
			<key>Location</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>-15</integer>
			</array>
			<key>Scale</key>
			<integer>1</integer>
			<key>Orientation</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Mode</key>
			<integer>1</integer>
			<key>Mesh</key>
			<integer>0</integer>
			<key>Texture</key>
			<integer>0</integer>
			<key>Index</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Name</key>
			<string>Hole1</string>
			<key>Location</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>-15</integer>
			</array>
			<key>Scale</key>
			<integer>1</integer>
			<key>Orientation</key>
			<array>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
				<integer>0</integer>
			</array>
			<key>Mode</key>
			<integer>1</integer>
			<key>Mesh</key>
			<integer>1</integer>
			<key>Texture</key>
			<integer>1</integer>
			<key>Index</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>Models</key>
	<array>
		<string>Ball.obj</string>
		<string>Hole1.obj</string>
	</array>
	<key>Textures</key>
	<array>
		<string>Ball.png</string>
		<string>Hole1.png</string>
	</array>
	<key>StartLoc</key>
	<array>
		<real>-4.044</real>
		<string>-8.340</string>
		<string>-15</string>
	</array>
	<key>NumVisuals</key>
	<integer>2</integer>
</dict>
</plist>
